.breadcrumbs {
	@include nowrapHiddenText();

	width: 50%;
	margin-top: $modular-scale * $font-size-base * -1.75;
	margin-bottom: $modular-scale * $font-size-base *.75;
	line-height: $modular-scale * $font-size-base;
	font-size: $font-size-base *.875;

	> a {
		font-size: $font-size-base *.75;
		text-transform: uppercase;
		color: $color-breadcrubs-link;
		text-decoration: none;
		border-bottom: 1px solid rgba( $color-breadcrubs-link, .25 );
		transition: color .3s $main-curve, border-color .3s $main-curve;

		&:hover, &:focus { border-bottom-color: transparent; color: darken( $color-breadcrubs-link, 50% ); }
	}

	.icon-angle-right {
		padding: 0 .25em;

		&:before {
			font-size: $font-size-base *.5;
			color: rgba( $color-breadcrubs-link, .75 );
			position: relative;
			top: -1px;
		}
	}
}