.post {
	&__lead {
		background-color: $color-light;
		padding: $modular-scale *1em $modular-scale *2em;
		margin: 0 $modular-scale *-6em $modular-scale *1.5em;

		@media ( max-width: $screen-width-sm ) {
			padding: $modular-scale *1em;
			margin: 0 $modular-scale *-2em $modular-scale *1.5em;
		}
	}

	&__body {
		font-size: $font-size-base * 1.25;
		line-height: $modular-scale;
		padding: 0 15px;

		@media ( max-width: $screen-width-sm ) { padding: 0 $modular-scale *2em; }

		h1, h2, h3, h4, h5, h6 {
			font-weight: bold;

			+ p { margin-top: 0; }

			+ ul, + ol, 
			+ table,
			+ blockquote { margin-top: $modular-scale *.25em; }
		}

		h1 {
			line-height: $modular-scale *1.5rem;
			font-size: $modular-scale *1.5em;
			margin: $modular-scale *1.5rem 0 $modular-scale *.5rem;

			+ h2, + h3, + h4, + h5, + h6 { margin-top: 0; }
		}

		h2 {
			line-height: $modular-scale *1.25rem;
			font-size: $modular-scale *1.25em;
			margin: $modular-scale *1.5rem 0 $modular-scale *.5rem;

			+ h3, + h4, + h5, + h6 { margin-top: 0; }
		}

		h3 {
			line-height: $modular-scale *1rem;
			font-size: $modular-scale *1.1em;
			margin: $modular-scale *.75rem 0 $modular-scale *.25rem;

			+ h4, + h5, + h6 { margin-top: 0; }
		}

		h4 {
			line-height: $modular-scale *1rem;
			font-size: $modular-scale *.9em;

			+ h5, + h6 { margin-top: 0; }
		}

		h4, h5, h6 {
			margin: $modular-scale *.75rem 0 $modular-scale *.25rem;
			text-transform: uppercase;
			letter-spacing: .025em;
		}

		h5 {
			line-height: $modular-scale *.75rem;
			font-size: $modular-scale *.75em;

			+ h6 { margin-top: 0; }
		}

		h6 {
			line-height: $modular-scale *.5rem;
			font-size: $font-size-base;
		}

		p {
			margin: $modular-scale *1em 0;

			+ h1 { margin-top: $modular-scale *2.5rem; }
			+ h2 { margin-top: $modular-scale *2.25rem; }
			+ h3 { margin-top: $modular-scale *1.75rem; }
			+ h4 { margin-top: $modular-scale *1.5rem; }
			+ h5 { margin-top: $modular-scale *1.25rem; }
			+ h6 { margin-top: $modular-scale *1rem; } 
		}

		+ ul, + ol, 
		+ table,
		+ blockquote {
			+ h1 { margin-top: $modular-scale *2.75rem; }
			+ h2 { margin-top: $modular-scale *2.5rem; }
			+ h3 { margin-top: $modular-scale *2rem; }
			+ h4 { margin-top: $modular-scale *1.75rem; }
			+ h5 { margin-top: $modular-scale *1.5rem; }
			+ h6 { margin-top: $modular-scale *1.25rem; } 
		}

		ul, ol {
			padding: 0;
			margin: $modular-scale *1.25em 0;

			li { margin: $modular-scale *.5em 0; }
		}

		table { margin: $modular-scale *1.25em 0; width: 100%; }

		a {
			color: $color-ultramarine-blue;
			position: relative;
			transition: transform .15s, color .15s;

			&::after {
				position: absolute;
				bottom: 0;
				left: 0;
				z-index: 1;
				width: 100%;
				height: $modular-scale *.075em;
				background-color: lighten( $color-ultramarine-blue, 20% );
				content: '';
				transition: transform .15s;
				transform: translateY( $modular-scale *.075em );
			}

			&, &::after { transition-timing-function: $main-curve; }
			
			&, &:hover, &:focus { text-decoration: none; }

			&:hover, &:focus {
				color: darken( $color-ultramarine-blue, 30% );

				&::after { transform: translateY( $modular-scale *.15em ); }
			}

			&:active { color: $color-ultramarine-blue; }

			&:visited {
				color: $color-violet;

				&:after { background-color: lighten( $color-violet, 30% ); }

				&:hover, &:focus { color: darken( $color-violet, 30% ); }

				&:active { color: $color-violet; }
			}
		}

		blockquote {
			@include clearfix();

			font-style: italic;
			border-width: 1px 0;
			border-color: $color-light-neutral-gray-2;
			border-style: solid;
			margin: $modular-scale *1.25em $modular-scale *2em $modular-scale *1.75em;

			.quote-author {
				font-style: normal;
				float: left;
				height: 100%;
				width: $modular-scale *10em;
				margin-top: $modular-scale *1em;
				padding-right: 1em;
				text-align: center;

				+ p { float: left; width: 66.666%; }

				&__photo {
					border-radius: 50%;
					overflow: hidden;
					display: block;
					margin: 0 auto;
					width: $modular-scale *4em;
				}

				&__name {
					font-size: $font-size-base;
					font-weight: bold;
					color: $color-dark-violet-gray-aa;
					margin-top: $modular-scale * $font-size-base *.5;
				}

				&__about { font-size: $font-size-base *.875; color: $color-neutral-gray-lighter; }
			}

			p, ul, ol {
				&:last-child { margin-bottom: $modular-scale *1em; }
			}
		} 
	}
}