.post__footer {
	margin-top: $modular-scale *2em;

	.post {
		&__meta {
			text-align: right;
			border-bottom: 1px solid $color-light-neutral-gray-1;
			color: $color-lighter-violet-gray;

			> * {
				line-height: $modular-scale *1.5;
				margin-left: 1.25em;
				font-size: $font-size-base *1.125;
			}
		}

		&__share {
			line-height: $modular-scale *2;
			font-size: $font-size-base *1.125;
			color: $color-light-violet-gray-a;
			margin-bottom: $modular-scale * $font-size-base;

			&-title { margin-right: 1em; }

			.social-media-buttons {
				button {
					cursor: pointer;
					color: $color-light-violet-gray-a;
					padding: 0 .125em;

					transition: color .3s $main-curve;

					.icon:before {
						position: relative;
						top: 5px;
						font-size: 1.5em;
					}

					&:hover, &:focus { color: darken( $color-light-violet-gray-a, 25% ); }
					&:active { color: $color-light-violet-gray-a; }
				}
			}
		}
	}
}