.post__hero {
	position: relative;
	margin: 0;
	height: $modular-scale *13.5em;

	&:before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba( $color-dark, .5 );
		z-index: 1;
	}

	&-content {
		position: absolute;
		bottom: 0;
		left: 0;
		padding: 0 $modular-scale * 2.5em $modular-scale * 1.5em;
		width: 100%;

		@media ( max-width: $screen-width-sm ) { padding: 0 $modular-scale * 1.5em $modular-scale * 1.5em; }
	}

	&-shutter {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		z-index: 0;
	}

	.post {
		&__title, &__date, &__meta { position: relative; z-index: 2; }
		&__title, &__date { color: $color-light; }

		&__date { font-size: $font-size-base *1.125; }

		&__title {
			font-size: $font-size-base * $modular-scale;
			line-height: $modular-scale *.95;
			margin: $modular-scale * $font-size-base * .5 0;
			letter-spacing: .025em;
		}

		&__meta {
			> a {
				margin-right: .95em;
				opacity: .7;
				color: $color-lightest-violet-gray;
				text-decoration: none;

				transition: opacity .3s $main-curve;

				&:hover, &:focus { opacity: 1; }
			}

			&-counter { position: relative; top: -6px; }
		}
	}
}