.read-more-articles {
	margin-top: $modular-scale *2em;

	&__title {
		margin: 0 0 $modular-scale * $font-size-base;
		text-transform: uppercase;
		letter-spacing: .025em;
		color: $color-scarlet-d;
		font-size: $font-size-base * 1.25;
	}

	&__list {
		@include clearfix();

		margin: 0 -.75em;

		.post {
			padding: 0 .75em;
			float: left;
			width: 50%;
			margin-bottom: $modular-scale * 1em;

			&__date {
				display: block;
				color: $color-lightest-violet-gray;
				margin-bottom: $modular-scale *.25em;
			}

			&__link {
				text-decoration: none;
				color: $color-dark-violet-gray-0;
				transition: color .3s $main-curve;

				&:hover, &:focus { color: $color-hover-text; }
				&:active { color: $color-dark-violet-gray-0; }
			}

			&__title {
				font-size: $font-size-base * 1.125;
				margin: 0;
				line-height: $perfect-fourth;
				padding-right: $font-size-base;
			}
		}
	}
}