.comment {
	&__input {
		&-wrap {
			position: relative;
			z-index: 2;
			width: $modular-scale * 25em;
			margin-left: $modular-scale * 3.5em;
			margin-top: $modular-scale * 1.5em;

			&:before {
				content: "введите текст комментария";
				display: block;
				position: absolute;
				z-index: 5;
				background-color: $color-light;
				font-size: .75em;
				top: -.5em;
				left: 1em;
				line-height: 1;
				padding: 0 .5em;
				transform: translate3d( 0, $modular-scale * $font-size-base, 0 ) scale( $modular-scale, $modular-scale );
				transition: transform .3s $main-curve, opacity .3s $main-curve;
				transform-origin: center left;
				opacity: .5;
				pointer-events: none;
			}

			&--focused {
				&:before {
					transform: translate3d( 0, 0, 0 ) scale( 1, 1 );
					opacity: 1;
				}

				> textarea { height: $modular-scale *5em; }
			}
		}
		
		border: 1px solid darken( $color-light-neutral-gray, 25% );
		background-color: transparent;
		display: block;
		width: 100%;
		padding: $modular-scale * .618em $modular-scale * .75em;
		resize: none;
		transition: border-color .3s $main-curve, height .3s $main-curve;
		height: $modular-scale * 2.25em;

		&:focus { outline: none; border-color: $color-ultramarine-blue; }
	}

	&__post-button {
		float: right;
		color: $color-light;
		background-color: $color-ultramarine-blue;
		padding: 0 1.25em;
		text-transform: uppercase;
		letter-spacing: .0125em;
		line-height: $modular-scale * 1.75em;
		margin-top: $modular-scale * .75em;
		cursor: pointer;

		position: relative;
		overflow: hidden;

		.text-wrap { position: relative; z-index: 1; }

		&::before {
			z-index: 1;
			background-color: darken( $color-ultramarine-blue, 5% );
			transition: transform .3s $main-curve, background-color .15s $main-curve;
			transform: translateY( 100% );
		}

		&::after, &::before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}

		&::after { background-color: $color-ultramarine-blue; z-index: 0; }

		&:hover, &:focus {
			&::before { transform: translateY( 0 ); }
		}

		&:active::before { background-color: darken( $color-ultramarine-blue, 2% ); }
	}
}

.post__comments > ol > li > .comment--form { margin-top: $modular-scale *1.5em; }