.comment {
	padding: $modular-scale * .75em 0;
	position: relative;
	color: $color-violet-gray-0;

	border-top: 1px solid $color-lightest-violet-gray-01;
	max-width: $modular-scale * 28.5em;
	overflow: hidden;

	&__author {
		position: absolute;
		top: $modular-scale * .75em;
		left: 0;
		width: 100%;
		z-index: 1;

		&-userpic { border-radius: 50%; overflow: hidden; }

		&-header {
			position: absolute;
			top: 0;
			left: $modular-scale * 3.5em;
		}

		&-name { font-weight: bold; }
	}

	.icon-reply {
		color: $color-lighter-violet-gray-1;
		font-size: $font-size-base *.75;
		padding: 0 .75em;
	}

	&__reply-to { font-weight: bold; color: $color-lighter-violet-gray-1; }

	&__body {
		margin-left: $modular-scale * 3.5em;
		margin-top: $modular-scale * 1em;
		position: relative;
		z-index: 2;

		p {
			margin: $modular-scale * .5em 0;

			&:first-child { margin-top: 0; }
		}
	}

	&__date {
		margin-left: $modular-scale * $font-size-base * 3.5;
		font-size: $font-size-base *.8125;
		color: $color-lighter-violet-gray-1;
	}

	&:hover, &:focus {
		.reply-button { transform: translateY( $modular-scale * .5em ); opacity: 1; }
	}

	.reply-button {
		color: $color-light-violet-gray-c;
		cursor: pointer;
		position: absolute;
		padding: 0;
		right: 0;
		opacity: 0;
		bottom: $modular-scale * 1em;
		width: $modular-scale * 3.5em;
		line-height: $modular-scale * 1.5;
		overflow: hidden;
		transform: translateY( $modular-scale * 2em );
		transition-property: color, transform, opacity;
		will-change: color, transform, opacity;

		&, &:after { transition-timing-function: $main-curve; transition-duration: .3s; }

		&:after {
			content: "";
			position: absolute;
			right: 0;
			height: 3px;
			width: $modular-scale * 3.5em;
			bottom: 0;
			background-color: $color-scarlet-aa;
			transform: translateY( 4px );
			transition-property: transform;
			will-change: transform;
		}

		&:hover, &:focus {
			color: $color-violet-gray;

			&:after { transform: translateY( 0 ); }
		}

		&:active {
			color: $color-light-violet-gray-c;

			&:after { opacity: 0; }
		}
	}
}