.login-cta {
	background-color: $color-scarlet-aa;
	color: $color-light;
	font-size: $font-size-base *1.25;
	text-align: center;
	padding: $modular-scale * $font-size-base *.75;
	line-height: $modular-scale * $font-size-base;
	margin-bottom: $modular-scale *1em;

	a {
		color: $color-light;
		text-decoration: none;
		display: inline-block;
		position: relative;

		&, &::after { transition: transform .3s $main-curve; will-change: transform; }

		&::after {
			content: "";
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 1px;
			background-color: rgba( $color-light, .25 );
		}

		&:hover, &:focus {
			transform: translateY( -2px );

			&::after { transform: translateY( 4px ); }
		}
	}
}