.post__comments {
	background-color: $color-light;
	padding: $modular-scale *1em $modular-scale *2em;
	margin-bottom: $modular-scale *1em;
	position: relative;

	&-title {
		margin: 0 0 $modular-scale * $font-size-base * .5;
		color: $color-dark-violet-gray-00;
		font-size: $font-size-base * 1.125;
	}

	> ol {
		padding-left: 0;

		> li {
			.comment { border-top-color: $color-lightest-violet-gray-02; }

			// убираем отступ у комментариев со вложенностью больше шести уровней
			> ol > li > ol > li > ol > li > ol > li > ol ol { padding-left: 0; }
		}
	}

	&-subtitle {
		margin: 0 0 $modular-scale * 1em;
		font-weight: normal;
		color: $color-violet-gray-0;
	}

	&-count { margin-left: $font-size-base *.5; }

	&-list { list-style: none; padding-left: $modular-scale * 3em; margin: 0; }

	.write-comment-button {
		font-size: $font-size-base *.9;
		position: absolute;
		right: $modular-scale * $font-size-base * 2;
		top: $modular-scale * $font-size-base * .75;
		text-transform: uppercase;
		letter-spacing: .025em;
		cursor: pointer;
		opacity: .8;
		transition: opacity .3s $main-curve, transform .3s $main-curve;
		overflow: hidden;
		padding: 0 .25em;
		line-height: $modular-scale * $font-size-base *1.5;
		will-change: transform, opacity;

		&:hover, &:focus {
			opacity: 1;

			&::after { transform: translateY( 0 ); }
		}

		&::after {
			position: absolute;
			bottom: 0;
			left: 0;
			z-index: 1;
			width: 100%;
			height: $modular-scale *.125em;
			background: $color-scarlet-a;
			content: '';
			transition: transform .3s;
			transform: translateY( $modular-scale *.25em );
		}
	}
}