@font-face {
  font-family: 'zcz-icons';
  src: url('zcz-icons.eot?29197379');
  src: url('zcz-icons.eot?29197379#iefix') format('embedded-opentype'),
       url('zcz-icons.woff2?29197379') format('woff2'),
       url('zcz-icons.woff?29197379') format('woff'),
       url('zcz-icons.ttf?29197379') format('truetype'),
       url('zcz-icons.svg?29197379#zcz-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'zcz-icons';
    src: url('../font/zcz-icons.svg?29197379#zcz-icons') format('svg');
  }
}
*/
 
.icon:before {
  font-family: "zcz-icons";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  text-align: center;
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
 
.icon-comment:before { content: '\e800'; } /* '' */
.icon-facebook:before { content: '\e801'; } /* '' */
.icon-twitter:before { content: '\e802'; } /* '' */
.icon-youtube:before { content: '\e803'; } /* '' */
.icon-lj:before { content: '\e804'; } /* '' */
.icon-vk:before { content: '\e805'; } /* '' */
.icon-pen:before { content: '\e806'; } /* '' */
.icon-shared:before { content: '\e807'; } /* '' */
.icon-angle-right:before { content: '\e808'; } /* '' */
.icon-reply:before { content: '\e809'; } /* '' */