html, body {
	font: #{$font-size-base}/#{$modular-scale} $sans-serif-fontstack;
	position: relative;
	width: 100%;
	color: $color-text;
	overflow-x: hidden;
	padding: 0 !important;
}

// custom resets
* { box-sizing: border-box; }

:focus { outline: none; }

img { max-width: 100%; } // responsive images helper

input, textarea, select, button, optgroup { font-family: $sans-serif-fontstack; } // fontstack reset

table { border-spacing: 0; border-collapse: collapse; }

address { font-style: normal; }

button { border: none; background-color: transparent; }

::selection { background-color: $color-ultramarine-blue; color: $color-light; }

::-moz-selection { background-color: $color-ultramarine-blue; color: $color-light; }

.row {
	@include clearfix();
	margin: 0 $font-size-base * -1;
}

.container {
	margin: 0 auto;
	width: $container-width-md;
	padding: 0 $font-size-base;

	@media ( max-width: $screen-width-sm ) { width: $container-width-sm; }
}

.content {
	background-color: $color-bg-main;
	padding: $modular-scale *2.5em 0;
}