.footer {
	background-color: $color-bg-header-footer;
	color: $color-nav-footer;
	text-align: center;
	padding: $modular-scale *2em 0 $modular-scale *1.5em;

	&__logos { margin-bottom: $modular-scale * $font-size-base *.75; }

	&-navigation {
		margin-bottom: $modular-scale * $font-size-base *.5;

		&-list {
			@include resetList();

			&__item {
				display: inline;

				> a {
					color: $color-nav-footer;
					font-weight: bold;
					text-decoration: none;
					text-transform: uppercase;
					font-size: $font-size-base *1.125;
					padding: 0 .25em;
					transition: color .3s $main-curve;

					&:hover, &:focus { color: lighten( $color-nav-footer, 25% ); }
					&:active { color: $color-nav-footer; }
				}
			} 
		}
	}

	.social-media-links {
		a {
			color: $color-social-media;
			font-size: 1.5em;
			transition: color .3s $main-curve, transform .3s $main-curve;
			padding: 0 .25em;

			i:before { transition: transform .3s $main-curve; will-change: transform; }

			&:hover, &:focus {
				color: lighten( $color-social-media, 25% );

				i::before { transform: scale(1.25, 1.25); }
			}

			&:active { color: $color-social-media; }
		}
	} 
}