.header {
	background-color: $color-bg-header-footer;
	color: $color-light-neutral-gray;
	padding-top: $modular-scale *1.5em;
	padding-bottom: $modular-scale *.5em;

	.site-logo { float: left; margin-bottom: $modular-scale *1em; }

	.user-info,
	.login-links,
	.onf-logo { float: right; }

	.login-links a {
		color: $color-login-text;
		text-decoration: none;
		margin-left: $modular-scale *.5em;
		font-size: $font-size-base * 1.125;
		transition: color .15s $main-curve;

		&:hover, &:focus { color: lighten( $color-login-text, 10% ); }
		&:active { color: $color-login-text; }
	}

	.user-info {
		@include clearfix();
		line-height: 25px;
		height: 25px;
		position: relative;
		top: -5px;

		&__userpic { height: 25px; float: left; margin-right: .25em; }

		&__user-name { font-size: 14px; letter-spacing: .0125em; cursor: default; }

		&__logout {
			font-size: 12px;
			text-decoration: none;
			color: $color-login-text;
			margin-left: .25em;
			transition: color .3s $main-curve;

			&:hover, &:focus { color: lighten( $color-login-text, 15% ); }
			&:active { color: $color-login-text; }
		}
	}
}