.navigation {
	background-color: $color-light;

	&-list {
		@include resetList();

		float: left;

		&__item {
			float: left;
			display: inline;

			&.active a { font-weight: bold; color: $color-scarlet-a !important; }

			a {
				text-transform: uppercase;
				text-decoration: none;
				line-height: $modular-scale *2.75 * $font-size-base;
				margin-right: $modular-scale *.5em;
				display: block;
				color: $color-dark-neutral-gray;
				font-weight: 400;
				font-size: $font-size-base * 1.125;

				overflow: hidden;
				position: relative;
				transition: transform .3s, color .15s;

				&:hover, &:focus {
					color: $color-dark;
					&::after { transform: translateY(0); }
				}

				&::after {
					position: absolute;
					bottom: 0;
					left: 0;
					z-index: 1;
					width: 100%;
					height: $modular-scale *.125em;
					background: $color-scarlet-a;
					content: '';
					transition: transform .3s;
					transform: translateY( $modular-scale *.125em );
				}

				&, &::after { transition-timing-function: $main-curve; will-change: transform; }
			}
		}
	}

	.report-violation {
		background-color: transparent;
		color: $color-light;
		text-transform: uppercase;
		letter-spacing: .05em;
		font-weight: 400;
		float: right;
		line-height: $modular-scale *2.75 * $font-size-base;
		cursor: pointer;
		padding: 0 $modular-scale *1em;
		font-size: $font-size-base;

		position: relative;
		overflow: hidden;

		.text-wrap { position: relative; z-index: 1; }

		&::before {
			z-index: 1;
			background-color: darken( $color-button, 10% );
			transition: transform .3s $main-curve, background-color .15s $main-curve;
			transform: translateY( 100% );
		}

		&::after, &::before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}

		&::after { background-color: $color-button; z-index: 0; }

		&:hover, &:focus {
			&::before { transform: translateY( 0 ); }
		}

		&:active::before { background-color: $color-button; }

		.icon-pen:before {
			font-size: 1.5em;
			top: 3px;
			position: relative;
			line-height: 1em;
			margin-right: .5em;
			margin-left: -.1em;
		}
	}
}