// Clerfix
@mixin clearfix() {
    &:before, &:after { content: ""; display: table; }
    &:after { clear: both; }
}

@mixin nowrapHiddenText() {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@mixin nowrapHiddenTextMultiline($lines-to-show, $line-height, $width) {
    display: block;
    display: -webkit-box;
    max-width: $width;
    height: $lines-to-show * $line-height;
    line-height: $line-height;
    -webkit-line-clamp: $lines-to-show;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

@mixin resetList() {
    padding: 0;
    margin: 0;
    list-style-type: none;
}