.news-list {
	margin: 0 -.75em;

	&__item {
		padding: 0 .75em;
		width: 50%;
		float: left;
		margin-bottom: $modular-scale *1em;

		&:hover &-title, &:focus &-title { color: $color-hover-text; }
		&:active &-title { color: $color-news-title; }

		&-thumb {
			height: $modular-scale *9em;
			width: 100%;
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center;
			margin: 0;
		}

		&-link {
			text-decoration: none;
			background-color: $color-light;
			display: block;
			padding-bottom: $modular-scale *1.5em;
			will-change: transform;
			transition: box-shadow .3s $main-curve, transform .3s $main-curve;

			&:hover, &:focus {
				box-shadow: 0 4px 12px rgba( $color-light-violet-gray-b, .05 ), 0 0 36px rgba( $color-light-violet-gray-b, .09 );
				transform: translateY(-2px);
				text-decoration: none;
			}

			&:active { box-shadow: none; transform: translateY(0); }
		}

		&-date {
			display: block;
			padding: $modular-scale *.75em $modular-scale *1.5em 0;
			margin: 0 0 $modular-scale *.75em;
			color: $color-date;
		}

		&-title {
			font-size: $font-size-base *1.25;
			color: $color-news-title;
			transition: color .3s $main-curve;
			padding: 0 $modular-scale * $font-size-base *1.5;
			margin: 0 0 $modular-scale * $font-size-base;

			@include nowrapHiddenTextMultiline( 3, $perfect-fourth * $font-size-base, 100% );

			@media ( max-width: $screen-width-sm ) { height: $perfect-fourth * $font-size-base * 4; }
		}

		&-meta {
			color: $color-meta-info;
			padding-left: $modular-scale *1.5em;

			.icon { position: relative; top: 6px; }

			> span { margin-right: $modular-scale *.5em; }
		}

		&-group { float: left; width: 50%; }

		&-group & { float: none; width: 100%; }

		&-group + & &-thumb {
			height: $modular-scale *9.75em;
			@media ( max-width: $screen-width-sm ) { height: $modular-scale *10.75em; }
		}

		&--full-width { width: 100%; }
		&--full-width &-title {
			@include nowrapHiddenTextMultiline( 2, $perfect-fourth * $font-size-base, 100% );
			margin-bottom: $modular-scale * $font-size-base *.5;
		}
	}
}

.more-news-button {
	margin: 0 auto $modular-scale *-1.5em;
	text-transform: uppercase;
	letter-spacing: .025em;
	display: block;
	color: $color-more-news;
	line-height: $modular-scale *1em;
	padding: 0;
	cursor: pointer;
	transition: color .3s $main-curve;

	&:hover, &:focus { color: darken( $color-more-news, 25% ); }
	&:active { color: $color-more-news; }
}